.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(12, auto);
  grid-template-areas: "header" "title" "subtitle" "banner" "project-title" "projects" "bio" "skills-title" "skills-graph" "contact" "social" "footer"; }

#header {
  max-height: 8em;
  grid-area: header; }

#title {
  grid-area: title; }

#subtitle {
  grid-area: subtitle; }

#banner {
  grid-area: banner;
  width: 100%; }

#project-title {
  grid-area: project-title; }

#projects {
  grid-area: projects;
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "project0" "project1" "project2" "project3"; }

#bio {
  grid-area: bio;
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "bio-pic" "bio-title" "bio-text"; }

#skills {
  grid-area: skills;
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "skills-title" "skills-text" "skills-graph"; }

#skills-title {
  grid-area: skills-title; }

#skills-graph {
  grid-area: skills-graph; }

#contact {
  grid-area: contact;
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "contact-title" "contact-form"; }

#social {
  grid-area: social; }

#footer {
  grid-area: footer; }

#project0 {
  grid-area: project0; }

#project1 {
  grid-area: project1; }

#project2 {
  grid-area: project2; }

#project3 {
  grid-area: project3; }

#bio-pic-background {
  grid-area: bio-pic-background; }

#bio-pic {
  grid-area: bio-pic; }

#bio-title {
  grid-area: bio-title; }

#bio-text {
  grid-area: bio-text; }

#skills-title {
  grid-area: skills-title; }

#skills-text {
  grid-area: skills-text; }

#skills-graph {
  grid-area: skills-graph; }

#graph-labels {
  grid-area: graph-labels; }

.card-header {
  color: #AEAEAE; }

.card-content {
  align-items: center; }

.contain {
  padding: 2em; }

#bio-pic {
  margin-bottom: 0.5em; }

.hr {
  border-color: #F6A829;
  background-color: #F6A829;
  height: 0.5em;
  margin-bottom: 1em;
  align-self: center; }

.hr-inverted {
  border-color: #AEAEAE;
  background-color: #AEAEAE;
  height: 0.5em;
  align-self: center; }

.hidden {
  visibility: hidden; }

.line {
  stroke: #D7D7D7;
  stroke-width: 2px; }

.graph-bar {
  fill: #F6A829;
  stroke: #5E5E5E; }

.graph-background {
  fill: #AEAEAE; }

.graph-labels {
  transform: rotate(-10deg); }

.project-card {
  display: inline-block;
  margin: 1em;
  cursor: pointer; }

.separator {
  margin-top: 1em;
  padding-top: 2em; }

.orange {
  background-color: #F6A829; }

.dark-gray {
  background-color: #AEAEAE; }

.light-gray {
  background-color: #D7D7D7; }
