//------colors --------//
$lightGray: #D7D7D7;
$darkGray: #AEAEAE;
$veryDarkGray: #5E5E5E;
$orange: #F6A829;

//-----Animations------//


//------sections----------//

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(12, auto);
  grid-template-areas: 
    "header"
    "title"
    "subtitle"
    "banner"
    "project-title"
    "projects"
    "bio"
    "skills-title"
    "skills-graph"
    "contact"
    "social"
    "footer"
}

#header {
  max-height: 8em;
  grid-area: header;
}

#title {
  grid-area: title;
}

#subtitle {
  grid-area: subtitle;
}

#banner {
  grid-area: banner;
  width: 100%;
}

#project-title {
  grid-area: project-title;
}

#projects {
   grid-area: projects;
   display: grid;
   justify-items: center;
   grid-template-rows: repeat(4, 1fr);
   grid-template-areas:
    "project0"
    "project1"
    "project2"
    "project3"
}

#bio {
  grid-area: bio;
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "bio-pic"
  "bio-title"
  "bio-text"
}

#skills-title {
  grid-area: skills-title;
}

#skills-graph {
  grid-area: skills-graph;
}

#contact {
  grid-area: contact;
}

#social {
  grid-area: social;
}

#footer {
  grid-area: footer;
}

//---Sub grid items---//
#project0{
  grid-area: project0;
  
}

#project1{
  grid-area: project1;
}

#project2{
  grid-area: project2;
}

#project3{
  grid-area: project3;
}

#bio-pic-background {
  grid-area: bio-pic-background;
}

#bio-pic {
  grid-area: bio-pic;
}

#bio-title {
  grid-area: bio-title;
}

#bio-text {
  grid-area: bio-text;
}

#graph-labels {
  grid-area: graph-labels;
}
//---Other Styling ---//

.card-header {
  color: $darkGray;
}

.card-content {
  align-items: center;
}

#bio-pic {
  margin-bottom: 0.5em;
}

.hr {
  border-color: $orange;
  background-color: $orange;
  height: 0.5em;
  margin-bottom: 1em;
}

.hr-inverted {
  border-color: $darkGray;
  background-color: $darkGray;
  height: 0.5em;
  align-self: center;
  margin: 0em 0em 0em 0em;
}

.hidden {
  visibility: hidden;
}

.line {
  stroke: $lightGray;
  stroke-width: 2px;
}

.graph-bar{
  fill: $orange;
  stroke: $veryDarkGray;
}

.graph-background {
  fill: $darkGray;
}

.graph-labels {
  transform: 
    rotate(-10deg);
}


.project-card {
  display: inline-block;
  max-width: 20em;
  margin: 1em;
  cursor: pointer;
}



.separator{
  margin-top: 1em;
  padding-top: 2em;
}

.orange {
  background-color: $orange;
  padding: 2em;
}

.dark-gray {
  background-color: $darkGray;
}

.light-gray {
  background-color: $lightGray;
}


//----Media Queries ---//

@media screen and (min-width: 768px){

}