.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(12, auto);
  grid-template-areas: "header" "title" "subtitle" "banner" "project-title" "projects" "bio" "skills-title" "skills-graph" "contact" "social" "footer"; }

#header {
  max-height: 8em;
  grid-area: header; }

#title {
  grid-area: title; }

#subtitle {
  grid-area: subtitle; }

#banner {
  grid-area: banner; }

#project-title {
  grid-area: project-title; }

#projects {
  grid-area: projects;
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "project0" "project1" "project2" "project3"; }

#bio {
  grid-area: bio; }

#skills-title {
  grid-area: skills-title; }

#skills-graph {
  grid-area: skills-graph; }

#contact {
  grid-area: contact; }

#social {
  grid-area: social; }

#footer {
  grid-area: footer; }

#project0 {
  grid-area: project0; }

#project1 {
  grid-area: project1; }

#project2 {
  grid-area: project2; }

#project3 {
  grid-area: project3; }

img {
  max-width: 100%;
  max-height: 100%; }

.hr {
  border-color: #F6A829;
  background-color: #F6A829;
  height: 0.5em; }

.project-card {
  display: inline-block;
  max-width: 20em;
  margin: 1em; }
